# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd

# Virtual environment
myenv/
venv/
env/
.venv/
.env

# Django specific
*.log
*.pot
*.sqlite3
local_settings.py
db.sqlite3
staticfiles/

# App specific
chatbot/migrations/
vectorstore/chroma/*
gcp.json
.ipynb_checkpoints/


# OS or Editor-specific files
.DS_Store
Thumbs.db